@import url('./fonts/notosans.css');
@import url('./fonts/spoqaregular.css');
@import url('./fonts/yd2002.css');

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

:root {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(234, 232, 232, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(234, 232, 232, 0.2);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(234, 232, 232, 0.1);
  }
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'NotoSans', sans-serif !important;
  color: white;
}

.text-shadow {
  text-shadow:
    -1px 0 #202429,
    0 1px #202429,
    1px 0 #202429,
    0 -1px #202429;
}

.modal {
  font-family: 'YD2002', sans-serif !important;
}

.modal-header {
  background: linear-gradient(to right, #32273b, #333149, #32273b);
  color: white;
  border-bottom: none;
}

.modal-body {
  background: linear-gradient(to right, #2f2131, #3a2539, #2f2131);
  color: white;
}

.modal-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.modal input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
}

.modal input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.modal .form-control:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.btn-secondary {
  background-color: #4c5265;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn:active {
  background-color: #4c5265 !important;
}

a {
  color: white;
}

.container {
  font-family: 'spoqaregular', sans-serif !important;
}

.grayscale {
  filter: grayscale(100%);
}

img,
a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.delete {
  right: 2%;
}

.text-cyan {
  color: #5bced3;
}
